|<?php
|	date_default_timezone_set('Europe/Moscow');
|	include_once '🤫/panel-core.php';
|?>
doctype html
html(lang='ru')
	head
		include inc/vars.pug
		- var subTitle = 'Панель'

		meta(charset='utf-8')
		title #{title.toUpperCase()} / #{subTitle}

		script let loc = location; '?action' == loc.search && (history.pushState( '' , document.title , loc.pathname), loc.href = loc.pathname)

		include inc/meta-viewport.pug
		meta(name='robots' content='noindex, nofollow')

		link(rel='shortcut icon' href=`${URLs.favicon}?v=${VERSION}`)

		include inc/meta-font.pug

		link(rel='stylesheet' href=`${PATHS.css}/admin-panel.min.css?v=${VERSION}`)
	body
		div.container
			main.panel
				form(action='?action' method='post')
					include inc/forms/add-air.pug

				form(action='?action' method='post')
					include inc/forms/rm-air.pug

				//- form(action='?action' method='post')
				//- 	include inc/forms/send-push.pug

				| <?php if ($USER['isAdmin'] == true): ?>

				form(action='?action' method='post')
					include inc/forms/expired-clear.pug

				form(action='?action' method='post')
					include inc/forms/noti.pug

				fieldset.vk-link
					legend Обновление токена доступа ВК
					p

				| <?php endif ?>

				footer.text-m
					p Последнее обновление расписания: #[span.tsAnime]
					p Последнее обновление оповещения: #[span.tsNoti]
					p Московское время (на сервере): #[span.tsCurrent]

		each JS in [{ file: `moment.js/${LIBS.js.moment.v.same}/moment.min.js`, sri: LIBS.js.moment.sri.same }, { file: `moment.js/${LIBS.js.moment.v.same}/locale/ru.js`, sri: LIBS.js.moment.sri.locale }, { file: `moment-timezone/${LIBS.js.moment.v.timezone}/moment-timezone-with-data.min.js`, sri: LIBS.js.moment.sri.timezone }]
				script(src=`https://cdnjs.cloudflare.com/ajax/libs/${JS.file}` integrity=`${JS.sri}` crossorigin='anonymous' defer)

		each JS in ['kamina', 'admin-panel']
			script(src=`${PATHS.js}/${JS}.min.js?v=${VERSION}` defer)

		|<?php
		|	$PHP_data = [
		|		'timezone' => date_default_timezone_get(),
		|		'sched' => [
		|			'count' => $schedAnime_count,
		|			'countExpr' => countExprs($schedAnime_data_tmp),
		|			'latest' => [
		|				'is' => $schedAnime_latest ? true : false,
		|				'title' => $schedAnime_latest ? $schedAnime_latest['title'] : '',
		|				'start' => $schedAnime_latest ? $schedAnime_latest['s'] : null,
		|				'end' => $schedAnime_latest ? $schedAnime_latest['e'] : null,
		|			]
		|		],
		|		'ts' => [
		|			'anime' => filemtime($file['sched']),
		|			'noti' => filemtime($file['noti']),
		|			'current' => time()
		|		]
		|	];
		|	if ($USER['isAdmin'] == true) {
		|		$PHP_data['noti'] = [
		|			'enabled' => $noti_data['enabled'],
		|			'text' => $noti_data['text'] ? $noti_data['text'] : '',
		|			'color' => isset($noti_data['color']) ? $noti_data['color'] : false
		|		];
		|		$PHP_data['vk'] = [
		|			'URL' => $APIep['vk_au'],
		|			'appID' => $vkData['id'],
		|			'api' => 'api-backend-vk.php'
		|		];
		|		$PHP_data['server'] = $_SERVER['SERVER_NAME'];
		|	}
		|?>

		script
			|<?="document.addEventListener('DOMContentLoaded', () => { '?action' !== loc.search && initAdminPanel(" . json_encode($PHP_data, JSON_UNESCAPED_UNICODE) . ") })" ?>
